# Visual Studio files
.vs/
*.user
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
Debug/
Release/
x64/
x86/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
Thumbs.db 